{% extends 'base.html.twig' %}

{% block title %}Hello FormInputController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; text-align: center; margin-top: 15% }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="example-wrapper">
    {% if success_message is not null %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Bravo!</strong> Données enregistrées avec succés.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    {% if error_message is not null%}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Echec!</strong> Un problème est survenu lors de l'importation des données.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h1>Formulaire d'importation</h1>

    {{ form_start(form, {"attr": {"style": "margin-top: 5%"}}) }}

        {{ form_widget(form.Fichier, { "attr" : { "class": "form-group" } }) }}

    {{ form_end(form) }}

    <script
            src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ asset('asset/js/bootstrap.js') }}"></script>

</div>
{% endblock %}
